<style>
    textarea {
        padding: 10px;
        resize: none;
    }
    button {
        display: block;
        cursor: pointer;
        margin: 20px auto;
        width: 100px;
    }
</style>

<textarea rows="20" cols="43"></textarea>
<button>Run</button>

<script>
    document.querySelector('button').onclick = () => {
        const codeText = document.querySelector('textarea').value;
        parent.postMessage({ pluginMessage: codeText}, '*');
    }
</script>
